.logo {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.web {
  color: #4d5ae5;
}

.nav {
  font-weight: 500;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
}

.adrs {
  color: #434455;
  font-style: normal;
  text-decoration: none;
  padding: 24px 0;
}

.adrs:hover,
.adrs:focus,
.nav:hover,
.nav:focus {
  color: #404bbf;
}

.header .container {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 15px;
}

.header .logo {
  margin-right: 76px;
}

.navigation-list {
  display: flex;
  gap: 40px;
}

.address-list {
  display: flex;
  gap: 40px;
  margin-left: auto;
}
